<!-- <ion-header no-border>

    <ion-toolbar class="eon6-primarycolor">
        <ion-title class="eon6-babytext eon6-large-text">Debebes</ion-title>
        <ion-buttons slot="primary">
            <ion-button size="large">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
            <ion-button [routerLink]="['/profile']" size="large">
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header> -->

You've imported a shared module muthafucker!

DELETE THIS COMPONENT. IT'S ONLY A TEST.