<div class="eon6-blankspace"></div>
<div class="baby-border"></div>

<ion-content class="ion-text-center">

    <form #form="ngForm" (ngSubmit)="onClickRegister(form)">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

                    <div class="ion-text-left ion-margin eon6-primarycolor eon6-babytext baby-title">
                        <h1>Debebes</h1>
                    </div>

                    <div class="ion-text-left ion-margin eon6-primarycolor">
                        <h4>Crear nueva cuenta</h4>
                    </div>

                    <div>
                        <ion-item class="ion-margin-horizontal">
                            <ion-label color="medium" autocomplete="on" position="stacked">Direccion de correo
                                electronico</ion-label>
                            <ion-input [disabled]="isLoading" name="email" type="email" [(ngModel)]="account.email"
                                required pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z0-9-_.]{2,}[.]{1}[a-zA-Z]{2,}">
                            </ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-horizontal">
                            <ion-label color="medium" autocomplete="on" position="stacked">Nombre de usuario</ion-label>
                            <ion-input [disabled]="isLoading" name="name" type="text" [(ngModel)]="account.user"
                                required pattern="[A-Za-z0-9].{6,}">
                            </ion-input>
                        </ion-item>
                        <ion-item class="ion-margin-horizontal">
                            <ion-label color="medium" position="stacked">Contraseña</ion-label>
                            <ion-input [disabled]="isLoading" name="password" type="password"
                                pattern="[A-Za-z0-9.-_].{7,}" [(ngModel)]="account.password" required>
                            </ion-input>
                        </ion-item>
                    </div>

                    <!-- <div *ngIf="isLoading">
                        <ion-spinner color="primary"></ion-spinner>
                    </div> -->

                    <div class="ion-padding">
                        <ion-button type="ngSubmit" color="primary" shape="round" [disabled]="form.invalid"
                            expand="block">Crear cuenta
                        </ion-button>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>

<ion-footer>
    <ion-row class="ion-text-center">
        <ion-note class="ion-padding eon6-graycolor">Tenes alguna duda Podés leer nuestro <a href="">FAQ's, Términos y
                condiciones de uso</a> o nuestro <a href="">servicio de ayuda</a>.</ion-note>
    </ion-row>
</ion-footer>