<ion-tabs>
    <ion-tab-bar slot="bottom">

        <ion-tab-button class="eon6-secondarycolor" tab="home">
            <ion-icon name="home" class="icon"></ion-icon>
        </ion-tab-button>
        
        <ion-tab-button class="eon6-secondarycolor" tab="mybaby">
            <ion-icon src='../../../../assets/icon/pacifier.svg' class="icon"></ion-icon>
            <!-- <i class="fas fa-baby fa icon"></i> -->
        </ion-tab-button>

        <ion-tab-button class="eon6-secondarycolor" tab="calendar">
            <ion-icon name="calendar" class="icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button class="eon6-secondarycolor" tab="messages">
            <ion-icon name="mail" class="icon"></ion-icon>
        </ion-tab-button>

        <ion-tab-button class="eon6-secondarycolor" tab="files">
            <ion-icon name="images" class="icon"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>